{% extends "shop/base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<h4>S'enregistrer Ici</h4>
{% for message in messages %}
{{ message }}
{% endfor %}
<form method="post" action="/register">
<label for="username">Username</label>
{%csrf_token%}
<input type="text" name ="username" id="username" placeholder="Username" required>
<br>
<label for="firstname">Firstname</label>
<input type="text" name ="firstname" id="firstname" placeholder="Firstname" required>
<br>
<label for="lastname">Lastname</label>
<input type="text" name ="lastname" id="lastname" placeholder="Lastname" required>
<br>
<label for="Email">Email</label>
<input type="email" name ="email" id="Email" placeholder="Email" required>
<br>
<label for="password">Password</label>
<input type="password" name ="password" id="password" placeholder="Password" required>
<br>
<label for="password">Password</label>
<input type="password" name ="password1" id="password1" placeholder="Confirm password" required>
<br>
<button type="submit">Enregistrer</button>
</form>
<br>


{% endblock %}
